{% macro render_pagination(pagination) -%}
  <div class=pagination>
  {%- if pagination.has_prev %}
    <a href="{{ pagination.for_page(1)|url }}" class="first">&LeftArrowBar; First</a>
    <a href="{{ pagination.prev|url }}">&LeftArrow; Newer</a> /
  {%- endif %}
  {%- for page in pagination.iter_pages() %}
    {%- if page %}
      {%- if page != pagination.page %}
        <a href=" {{ pagination.for_page(page)|url }}">{{ page }}</a> /
      {%- else %}
        <strong>{{ page }}</strong> /
      {%- endif %}
    {%- else %}
      <span class=ellipsis>...</span> /
    {%- endif %}
  {%- endfor %}
  {% if pagination.has_next %}
    <a href="{{ pagination.next|url }}">Older &RightArrow;</a>
    <a href="{{ pagination.for_page(pagination.pages)|url }}" class="last">Last &RightArrowBar;</a>
  {%- endif %}
  </div>
{% endmacro %}
